.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  width: 30px;
  justify-content: space-between;
  position: relative;
  margin-left: 20px;

  & button {
    padding: unset;
    border-radius: unset;
    font-size: unset;
    transition: unset;

    position: absolute;
    top: -4px;
    left: 0;
    width: 30px;
    height: 28px;
    cursor: pointer;
    opacity: 0;
    z-index: 1;

    &[type="submit"] ~ span:nth-child(2) {
      transform: rotate(45deg) translate(-1px, -1.5px);
    }

    &[type="submit"] ~ span:nth-child(3) {
      transform: scale(0);
    }

    &[type="submit"] ~ span:nth-child(4) {
      transform: rotate(-45deg) translate(-1px, 1.5px);
    }
  }

  & span {
    display: block;
    background-color: #8794BA;
    width: 30px;
    height: 3px;
    border-radius: 1em;
    transition: all .5s ease-in-out;

    &:nth-child(2) {
      transform-origin: 0 0;
    }

    &:nth-child(4) {
      transform-origin: 0 100%;
    }
  }
}