body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F8F9FF;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

a {
  color: #8794BA;
  text-decoration: none;
  transition: 100ms ease;

  &:hover {
    color: #ffff;
  }
}

button {
  padding: 8px 50px;
  border-radius: 50px;
  font-size: 16px;
  transition: 150ms ease;

  &:hover {
    cursor: pointer;
  }
}

.primary-button {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;

  &:hover {
    background-color: #EF2A82;
    color: #fff;
    border-color: #EF2A82;
  }
}

.secondary-button {
  background-color: #EF2A82;
  color: #fff;
  border: 1px solid #EF2A82;

  &:hover {
    background-color: transparent;
    border-color: #fff;
  }
}

.headline {
  font-size: 40px;
  font-weight: bold;
}

.title {
  font-size: 18px;
  color: #8794BA;
}