@media (max-width: 1420px) {
  .header {
    &::before {
      width: 600px;
      height: 460px;
    }

    &::after {
      width: 270px;
      height: 200px;
      right: 420px;
      top: 200px;
    }
  }
}

@media (max-width: 1160px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 1120px) {
  .header::after {
    display: none;
  }
}

@media (max-width: 1030px) {
  button {
    padding: 15px 70px;
  }

  .menu-toggle {
    display: flex;
  }

  .header {
    &::before {
      display: none;
    }

    &__nav {
      &-content {
        width: unset;
      }

      &-action button {
        color: #8794BA;
        border: none;
        padding: unset;
        border-radius: unset;
        font-size: 20px;

        &:hover {
          background-color: transparent;
          border-color: unset;
        }
      }
    }

    &__graph {
      width: fit-content;
      margin: 120px auto 0;
      display: block;

      & img {
        display: block;
        width: 90%;
        margin: 0 auto;
      }
    }

    &__content {
      width: unset;
      margin: 0;
      text-align: center;
    }

    &__nav-links {
      visibility: hidden;
      width: 100%;
      height: 100vh;
      left: 0;
      bottom: 0;
      top: 86px;
      padding: 0 23px;
      position: fixed;
      flex-direction: column;
      justify-content: unset;
      background-color: #172347;
      box-sizing: border-box;

      &.active {
        visibility: visible;
      }

      & a {
        padding: 30px 0;
        border-bottom: 1px solid #8794BA;
        text-transform: uppercase;
        font-weight: bold;

        &:nth-child(4) {
          border: none;
        }
      }
    }
  }

  .features {
    &__functions {
      flex-direction: column;
      text-align: unset;
    }

    &__function {
      width: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 60px;

      &-icon {
        margin-right: 30px;
      }
    }

    &__graph {
      flex-direction: column;

      &-text {
        width: unset;
        margin-bottom: 30px;
      }

      &-image {
        & img {
          width: 100%;
        }
      }
    }
  }

  .graph-middle-text {
    order: unset;
  }
}

@media (max-width: 700px) {
  .header__content-button button {
    width: 100%;
  }
}